
<meta charset='utf-8'>
<ion-modal-view  view-title="Notícias">


	<ion-header-bar  class="bar bar-assertive  title" style="background-color: #009688" >


		<button class="button  button-clear" style="margin-top: 5px;" ng-click="modalCarrinho.hide()">
			<i class="icon-small icon ion-ios-arrow-thin-left"></i>
		</button>

		<h1 class="title text-center" style="text-align: center" >Carrinho <!-- - {{pefilChat}} --></h1>


	</ion-header-bar>

	<ion-content scroll="true" delegate-handle="chatScroll" >

	

	</ion-content>

</ion-modal-view>