
<meta charset='utf-8'>
<ion-view view-title="Majumi" >


	<ion-header-bar  class="bar bar-assertive  title" style="background-color: #009688" >


		<button class="button  button-clear" style="margin-top: 5px;" ng-click="modalCarrinho.hide()">
			<i class="icon-small icon ion-ios-arrow-thin-left"></i>
		</button>

		<h1 class="title text-center" style="text-align: center;" >Carrinho <!-- - {{pefilChat}} --></h1>
		<div style="    position: absolute;
		right: 20px;
		top: 12px;">Total: R$ {{total}}</div>

	</ion-header-bar>

	<ion-content >

		<div class="list" style="overflow-x: scroll">

			<div ng-show="carrinho.length == 0" style="    padding: 30px;    text-align: center;    margin-top: 192px;"> Você não tem nenhum produto adicionado ao seu carrinho ainda. =(</div>
			<a class="item item-thumbnail-left" style="padding-bottom: 60px!important; border-bottom: solid 1px  #f3f2f2!important;" ng-repeat="produto in carrinho">
				<img src="{{produto.img}}">
				<h2>{{produto.nome}}</h2>
				<h4>{{produto.nome_categoria}}</h4>

				<h style="      font-weight: bold;font-size: 16px;  position: absolute;	top:9px; 	right: 20px;">R$ {{produto.preco}}</h3>
					<md-button ng-click="removeCarrinho($index)" style="          position: absolute;    bottom: -80px;    right: -15px;    font-size: 10px;    border: solid 1px #c3c1c1;    color: #c3c1c1;    border-radius: 5px;;">Remover carrinho</md-button>
				</a>


			</div>

		</ion-content>

	</ion-view>