
<meta charset='utf-8'>
<ion-modal-view ng-controller="homeCtrl " view-title="Notícias">


	<ion-header-bar  class="bar bar-assertive  title" style="background-color: #e76253" >


		<a class="button  button-clear" style="margin-top: 5px;" ng-click="modalNoticia.hide()">
			<i class="icon-small icon ion-ios-arrow-thin-left"></i>
		</a>

		<h1 class="title text-center" style="text-align: center" >Noticias <!-- - {{pefilChat}} --></h1>

		<a class="button  button-clear" ng-show="usuarioChatAberto.telefone.length > 0" ng-click="ligar(usuarioChatAberto.telefone)">
			<i class="icon-small icon ion-ios-telephone-outline"></i>
		</a>

	</ion-header-bar>

	<ion-content scroll="true" delegate-handle="chatScroll" >

	

	</ion-content>

</ion-modal-view>