<style>


.card:active{
	/*background: rgb(0,0,0);*/
	opacity: 0.8;

}

.lista{
	margin-top: -40px;
}

.produtos-famosos{
	min-width: 133px;
	max-width: 170px;
}

.titulo-produto{
	margin-top: 3px!important;
	margin-bottom: -14px!important;
	margin-left: 5px!important;
	font-size: 12px!important;
}

.overlay{

	background-color:white;
	z-index: 999;
	margin-bottom: -51px;
}

.titulo-oferta{
	margin: 8px;
	margin-bottom: -5px;
	font-size: 15px;
}
.preco{
	margin-left: 6px!important;
	margin-top: -8px!important;
	font-weight: bold!important;
}

.desconto{
	font-size: 10px;
	position: absolute;
	right: 10px;
	margin-top: 1px;
}

.xqdle .row{
	    width: 40%!important;
	position: absolute!important;
	right: 0px!important;
	top: 0px!important;

}

</style>
<meta charset='utf-8'>
<ion-modal-view ng-controller="homeCtrl " view-title="Notícias">


	<ion-header-bar  class="bar bar-assertive  title" style="background-color: #009688" >


		<a class="button  button-clear"  ng-click="modalListaProdutos.hide()">
			<i class="icon-small icon ion-ios-arrow-thin-left"></i>
		</a>

		<h1 class="title text-center" style="text-align: center" >{{categoria.nome}} <!-- - {{pefilChat}} --></h1>
		


	</ion-header-bar>

		<div class="bar xqdle " style="        position: absolute;    top: 0px;    right: 20px;   text-align: center;text-align: center;    font-size: 17px;    margin-top: 43px;" ><div class="row">Total: R$ {{total.toFixed(2)}}</div></div>

		<hr>
	<ion-content scroll="true" class="has-header" >

		<div class="list" style="    margin-top: 40px;">
			<a class="item item-thumbnail-left" style="padding-bottom: 60px!important; border-bottom: solid 1px  #f3f2f2!important;" ng-repeat="produto in listaCategoriaProdutos">
				<img src="{{produto.img}}" style="object-fit: contain;">
				<h2>{{produto.nome}}</h2>
				<h4>{{produto.nome_categoria}}</h4>

				<h style="      font-weight: bold;font-size: 16px;  position: absolute;	top:9px; 	right: 20px;">R$ {{produto.preco}}</h3>

					
					<i class="icon ion-plus" ng-click="produto.qtde = produto.qtde + 1" style="     font-size: 23px;    position: absolute;top: 65px;	right: 125px;"></i>
					<p  style="    position: absolute;top: 65px;font-size: 17px;   right: 152px;  ">{{produto.qtde}}</p>
					<i class="icon ion-minus" ng-click="produto.qtde = produto.qtde - 1" style="      font-size: 23px;  position: absolute;top: 65px;	right: 175px;"></i>
					
					<md-button ng-click="adicionaCarrinho(produto)" style="          position: absolute;    bottom: -80px;    right: -15px;    font-size: 10px;    border: solid 1px #c3c1c1;    color: #c3c1c1;    border-radius: 5px;;">Adicionar carrinho</md-button>
				</a>


			</div>

		</ion-content>

	</ion-modal-view>