<link href="https://fonts.googleapis.com/css?family=Yeon+Sung" rel="stylesheet">
<style>
.post {

  margin-top: -22px;

}

.pattern{
  background-image: url('../img/pattern.png');
  background-repeat: repeat;
  z-index: 0;
  background-color: #FFF;
}

.background-title{

 background-color: rgba(4, 4, 4, 0.75);
 width: 100%;
 height: 40px;
 position: absolute;
 top: 101px;
 left: 0px;
}

.background-title-pequeno{

  background-color: rgba(4, 4, 4, 0.75);
  width: 100%;
  height: 40px;
  position: absolute;
  top: 74px;
  left: 0px;
}

.texto-tiles-pequeno{
 position: absolute;
 top: 77px;
 left: 14px;
 bottom: 0px;
 font-family: Yeon Sung!important;
 color: #FFF;
 font-size: 15px;
}

.texto-tiles{
  position: absolute;
  top: 107px;
  left: 14px;
  bottom: 0px;
  font-family: Yeon Sung!important;
  color: #FFF;
  font-size: 20px
}

.card:active{
  /*background: rgb(0,0,0);*/
  opacity: 0.8;
  
}

.blockmedio-1{
  height: 175px;
  background: url('img/blocktile.jpg');
  background-size: cover;
}
.blockmedio-2{
  height: 175px;
  background: url('img/tabacaria.jpg');
  background-size: cover;
}
.blockmedio-3{
  height: 175px;
  background: url('img/picante.jpg');
  background-size: cover;
}
.blockmedio-4{
  height: 150px;
  background: url('img/especiais.jpg');
  background-size: cover;
}
.blockofertas{
  height: 130px;
  background: url('img/picante.jpg');
  background-size: cover;
  margin-left: 0px;
  margin-right: 0,1px;
  width: 98%;
}


.lista{
  margin-top: -40px;
}

.produtos-famosos{
 min-width: 133px;
 max-width: 170px;
}

.overlay{

  background-color:white;
  z-index: 999;
  margin-bottom: -51px;
}

.preco{
  margin-left: 6px!important;
  margin-top: -8px!important;
  font-weight: bold!important;
}
}

.slider {
  height: 100%;
}



</style>
<ion-view view-title="Majumi" >
  <ion-nav-buttons side="left">
    <button ng-show="showMenu" class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-content >
    <md-progress-linear style="margin-top: 0px" ng-show="carregando" md-mode="indeterminate"></md-progress-linear>


    <ion-scroll direction="x"  >
      <div class="row">
        <div ng-repeat="item in [1,2,3,4]" >
          <div class="list card produtos-famosos"  style="      margin-bottom: 37px;  border-radius: 5px;">

           <div class="item item-body" style="      border-radius: 10px;  padding: 2px;">
            <img class="full-image" src="../img/produtos/drink1.jpg" style="width: 130px; height: 100px;">

            <p style="padding-left: 5px">
              <h2 class="preco">R$ 50,00</h2>
            </p>
            <p style="padding-left: 5px;">
              <h2 class="preco" style="margin-bottom: -12px; font-size: 12px;    color: gray;text-decoration: line-through;">R$ 50,00</h2>
            </p>
          </div>
        </div>
      </div>


    </div>

  </ion-scroll>


  <div class="lista">

    <div class="card blockmedio-1" style=" height: 135px;" ng-click="abreBebidas()">
      <div class="item item-text-wrap">
        <hr style=" color:black; margin-top: 82px;  position: absolute;   top: 17px;  left: 0px;   width: 100%;    ">
        <div class="background-title"> </div>
        <div class="texto-tiles">Bebidas</div>

      </div>
    </div>

    <div class="row">

      <div class="card blockmedio-2" style=" margin-left: 3px;width: 100%; height: 100px;" ng-click="abreTabacaria()">
        <div class="item item-text-wrap">
          <hr style="     color:black; margin-top: 82px;    position: absolute;    top: -10px;    left: 0px;    width: 100%;   ">
          <div class="background-title-pequeno"> </div>
          <div class="texto-tiles-pequeno">Tabacaria</div>
        </div>
      </div>

      <div class="card blockmedio-3" style="width: 100%; height: 100px; margin-right: 3px " ng-click="abrePicante()">
        <div class="item item-text-wrap">
         <hr style="     color:black; margin-top: 82px;    position: absolute;    top: -10px;    left: 0px;    width: 100%;  ">
         <div class="background-title-pequeno"> </div>
         <div class="texto-tiles-pequeno">Picante</div>
       </div>
     </div>
   </div>

   <div class="card blockmedio-4" style=" height: 135px;" ng-click="abreEspeciais()">
    <div class="item item-text-wrap">
     <hr style=" color:black; margin-top: 82px;  position: absolute;   top: 17px;  left: 0px;   width: 100%;    ">
     <div class="background-title"> </div>
     <div class="texto-tiles">Especiais</div>
   </div>
 </div>

</div>

</ion-content>

</ion-view>
