
<style>
.post {

  margin-top: -22px;

}

div{
  font-family: Song Myung!important;
}

label{
  font-family: Song Myung!important;
}

.inpux{
 margin-left: -12px!important;
 padding: 24px!important;
 border: solid 1px #ddd!important;
 border-radius: 6px!important;
}

.labelletra{
  color:#FFF;
}

.btn{
  background-color: rgb(0, 0, 0, 0)!important;
  border: solid 1px white!important;
  width: 250px;
  position: absolute;
  left: 36px;
  margin-left: 13px;
}

.btn:active{
  background-color:white!important;
  color: #000!important;
}

.bg1{
  background-image: url(img/bg/background_login.png)!important;
  background-size: cover;
  background-position: center center;
  max-width: 400px;
}

.bg2{
  background-image: url(img/bg/background_login2.png)!important;
  background-size: cover;
  background-position: center center;
  max-width: 400px;
}

</style>
<ion-view ng-controller="loginCtrl"> <md-progress-linear style="margin-top: 15px" ng-show="carregando" md-mode="indeterminate"></md-progress-linear>
  <ion-content class="bg1" style="margin-top: 0px;">

    <center style="font-family: Yeon Sung; margin-top: 100px; font-size: 35px; font-weight: 600;color:#FFF">Majumi Distribuidora</center>
    
    <form id="entrar-form1" class="list" style="padding: 20px; margin-top: 50px">
      <label class="item item-input" id="entrar-input1" name="email">
        
        <input style="color:#FFF" class="inpux" type="text" ng-model="user.email" placeholder="Digite seu E-mail">
      </label>
      <label class="item item-input" id="entrar-input2" name="senha">
        <input style="color:#FFF" class="inpux" type="password" ng-model="user.senha" placeholder="Digite sua Senha">
      </label>
    </form>


    <button  id="entrar-button1" ng-click="login(user.email, user.senha)" class="button button-positive text-center btn " style="border-radius: 10px"><div>Entrar</div></button><br>

    <div style="text-align: center;margin-top: 40px; color: #FFF; font-size: 15px" ng-click="exibeCadastro()">Entrar usando</div>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button class="md-fab" aria-label="Eat cake" style="background-color: #c73212">
        <md-icon class="icon ion-social-googleplus" style=" top: 0px; margin-top: -7px;  margin-left: 11px;"></md-icon>
      </md-button>

      <md-button class="md-fab md-primary" aria-label="Use Android">
        <md-icon class="icon ion-social-facebook" style=" top: 0px; margin-top: -7px;  margin-left: 11px;"></md-icon>
      </md-button>


    </section>


    <div style="text-align: center;margin-top: 30px; color: #FFF" ng-click="exibeCadastro()"><u>Cadastre-se</u></div>


  </ion-content>
</ion-view>
