<style>
.texto-menu{


  font-size: 15px;
  margin-bottom: 18px;
}

.texto-email{
  font-weight: 100;
  margin-top: 125px;
  font-size: 11px;
}
.popup-buttons .button:last-child{
  background-color: #444;
}

.barra{
  background-color: #000;
}

.barra-transparente{
  background-color: #FFF;
  margin-top: -9px;
}

.transparente{
  background-color: #444;
}

.icone{
  width: 26px;
  height: 26px;
  margin-top: 8px;
  margin-right: 8px
}
.texto-icones{
  position: absolute;
  top: 30px;
  left: 55px;
}
</style>




<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar  class="bar-assertive">
      <ion-nav-back-button class="no-text">
      </ion-nav-back-button>
      <ion-nav-buttons side="left" >
        <button  class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>

      </ion-nav-buttons>
      
    </ion-nav-bar>

    <button id="fab" style="background-color: #009688;" ng-show="mostraCarrinho" ng-click="abreCarrinho()" class="button button-positive button-fab button-fab-bottom-right">
      <i class="icon ion-android-cart"></i>

    </button>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="{{side}}">
    <ion-header-bar class="expanded">
      <img src="{{usuario.avatar}}" class="avatar motion spin fade">
      <div class="menu-bottom texto-menu">
       {{usuario.nome}}
     </div>
     <div class="menu-bottom texto-email">
       {{usuario.email}}
     </div>
   </ion-header-bar>
   <ion-content class="stable-bg has-expanded-header" style="background-color: white">
    <ion-list>
      <ion-item nav-clear class="item" ng-click="" style="margin-left: 4px;" ui-sref='app.home' menu-close>
        <img src="img/icones/house.svg" class="icone">
        <xz class="texto-icones">Início</xz>
      </ion-item>
      <ion-item nav-clear class="item" ng-click="" style="margin-left: 4px;" ui-sref='app.home' menu-close>
        <img src="img/icones/beer2.svg" class="icone">
        <xz class="texto-icones">Bebidas</xz>
      </ion-item>
      <ion-item nav-clear class="item" ng-click="" style="margin-left: 4px;" ui-sref='app.home' menu-close>
        <img src="img/icones/calendar.svg" class="icone">
        <xz class="texto-icones">Horários e Informações</xz>
      </ion-item>
      <ion-item nav-clear class="item" ng-click="" style="margin-left: 4px;" ui-sref='app.home' menu-close>
        <img src="img/icones/cigarette.svg" style="width: 33px; height: 33px" class="icone">
        <xz class="texto-icones" style="top: 35px">Tabacaria</xz>
      </ion-item>
      <ion-item nav-clear class="item" ng-click="" style="margin-left: 4px;" ui-sref='app.home' menu-close>
        <img src="img/icones/condom.svg" class="icone">
        <xz class="texto-icones" style="top: 28px">Picante</xz>
      </ion-item>
      <ion-item nav-clear class="item" ng-click="abreConfiguracao()" ng-click="" style="margin-left: 4px;" ui-sref='app.home' menu-close>
        <img src="img/icones/settings.svg" class="icone">
        <xz class="texto-icones" style="top: 27px">Configurações</xz>
      </ion-item>
      <ion-item nav-clear class="item" ng-click="sair();$ionicGoBack()" ng-click="" style="margin-left: 4px;" ui-sref='app.home' menu-close>
        <img src="img/icones/logout.svg" class="icone">
        <xz class="texto-icones" style="top: 29px">Sair</xz>
      </ion-item>




    </div>
  </ion-item>
</ion-list>
</ion-content>
</ion-side-menu>
</ion-side-menus>
